RESOURCE_ROOT=./.resources
CORS_ORIGIN=http://localhost:5173
SESSION_SECRET=SuperSecretTokenChangeMe
JWT_SECRET=AnotherSuperSecretTokenChangeMePlease
PORT=3001
CAPTCHA_ENABLED=true
TWO_FACTOR_ENABLED=true